@import 'normalize';
@import 'fsVid';

html {
  font-size: 16px;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h3 {
  font-family: 'Roboto Slab', serif;
}

h1, h2 {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  @media (max-width: 1024px) {
    text-shadow: none;
  }
}

h1 {
  font-size: 5rem;
  @media (max-width: 740px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  @media (max-width: 740px) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 600;
  font-style: italic;
}

.video {
  position: relative;
}

.mainHeader {
  width: 66%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 30vh;
  @media (min-width: 1600px) {
    top: 15vh;
  }
  @media (max-width: 1024px) {
    top: 0;
    width: 100%;
    background: white;
    color: #333;
    text-align: left;
  }
}

.buttons {
  margin-top: 1rem;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      a {
        display: block;
        width: 160px;
        background: white;
        color: #333333;
        border: 2px solid white;
        padding: 20px;
        font-size: 1.5rem;
        margin-right: 1rem;
        border-radius: 4px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.usage, .options {
  background: white;
  color: #333;
  position: relative;
  padding: 1rem 0;
}

.usage {
  bottom: -370px;
  padding: 2rem 0 2rem;
  @media (max-width: 1024px) {
    bottom: 0;
  }
}

.step {
  .num {
    font-family: 'Roboto Slab', serif;
    float: left;
    display: block;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.8);
    color: rgba(0,0,0,0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 1.65;
    font-size: 1.5rem;
  }
  a {
    color: steelblue;
    transition: color 0.2s;
    &:hover {
      color: dodgerblue;
    }
  }
  p {
    padding: 0.5rem 0;
  }
  .code, pre {
    font-family: monospace, serif;
    background: #eee;
    padding: 5px;
    color: #333333;
  }
  pre {
    width: 66%;
    padding: 1rem;
    .tab {
      padding-left: 1rem;
    }
    .tab2 {
      padding-left: 2rem;
    }
    @media (max-width: 866px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.options {
  bottom: -350px;
  .container {
    padding: 1rem 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  @media (max-width: 1024px) {
    bottom: 0;
  }
}

table {
  border: 1px solid #333;
  th,td {
    padding: 10px 60px;
    text-align: left;
    border: 1px solid #333;
  }
  td {
    padding: 5px 60px;
  }
}